
.stretched-link{
    color:beige
  }
  
  .post{
    color:#07bdc4;
  }
  
  .linea{
    border-top: 2px solid aliceblue;
    margin-bottom: 40px;
    width: 80%;
  
  }
.custom-btn-primary {
    background-color: red;
    border-color: red;
    /* Otros estilos personalizados */
  }