.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 130px;
    margin-bottom: 15px;
   
}

.body {
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 20px;
    text-align: center;
}