
<div class="wrapper" style="height:100%">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="login">
         <h1>Login</h1>
         <form (ngSubmit)="login()" [formGroup]="loginUsuario" class="mt-5">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Email</label>
                <span *ngIf="loginUsuario.get('email')?.hasError('required') && loginUsuario.get('email')?.touched" class="text-danger errorLabel">
                  Correo Requerido
                </span>
                <span *ngIf="loginUsuario.get('email')?.hasError('email') && loginUsuario.get('email')?.touched" class="text-danger errorLabel">
                  Correo Invalido
                </span>
                
              </div>
              <div class="form-floating">
                <input type="password" formControlName="password" class="form-control mb-3" placeholder="Password">
                <label >Password</label><span *ngIf="loginUsuario.get('password')?.hasError('required') && loginUsuario.get('password')?.touched" class="text-danger errorLabel2">
                  Password Requerido
                </span>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginUsuario.invalid">Ingresar</button>    
              </div>
              <p class="mt-3">No tienes cuenta?  <a routerLink="/registrar-usurio" style="color: blue;">Registrar</a></p> 
              <a class="mt-2" routerLink="/recuperar-password" style="color: blue;" >Recuperar contraseña</a>
         </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
   
</div>

